body {
    margin : 1em;
    padding : 0em;
    font-size : 12px;
    background-color: #eee;
}


h2 {
    display : inline-block;
}
button {
    padding : .25em;
    margin : .25em;
    width : 10em;
    height : 30px;
}
input {
    width : 5em;
    margin: 0 0.5em;
}

button.label_button {
    width : auto;
}

p {
    margin: 0px;
    margin: 0 0.5em;
}

p.inline {
    display: inline-block;
}

p.multiplier {
    position: absolute;
}

div.label_area span , div.group_area span {
    display: inline-block;
}

div.texty {
    width: 10em;
    display: inline-block;
}

div.imageline {
    margin : 1px;
    height : 64px;
}


img.mnist {
    height : 64px;
    width : 64px;
    background-color: #FFF;
    display: inline-block;
}

.not_selected {
    opacity: .25;
}