<html ng-app="imageWorkflow">
<head>
	<title>Data Workflow</title>
	<script src="/view/d3.v3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="/view/index.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/view/index.css"/>
	<link rel="stylesheet" type="text/css" href="/view/tsne.css"/>
</head>
<body ng-controller="mainController">
	<h1>Session Controls</h1>
	<div class="session_controls">
		<button ng-show="pause_training" class="btn btn-primary btn-sm" ng-click="pause_training=!pause_training">Training Paused</button>
		<button ng-hide="pause_training" class="btn btn-primary btn-sm" ng-click="pause_training=!pause_training">Training Live</button>
		<button class="btn btn-primary btn-sm label_button" ng-click="randomizeImage()">Random Images</button>

		<button class="btn btn-primary btn-sm" ng-click="show_confidence_section=!show_confidence_section">Confidence</button>
		<button class="btn btn-primary btn-sm" ng-click="show_embedding_section=!show_embedding_section">Embeddings</button>
		<button class="btn btn-primary btn-sm" ng-click="show_label_section=!show_label_section">Labels</button>
		<button class="btn btn-primary btn-sm" ng-click="show_snapshot_section=!show_snapshot_section">Snapshots</button>
		<button ng-hide="show_tsne_section" class="btn btn-primary btn-sm" ng-click="show_tsne_section=!show_tsne_section">t-SNE</button>
		<button ng-show="show_tsne_section" class="btn btn-primary btn-sm" ng-click="show_tsne_section=!show_tsne_section">Search</button>
		<p class="inline">Create new group</p><input type="text" ng-model="new_group_name"><button ng-show="new_group_name" class="btn btn-primary btn-sm label_button" ng-click="create_new_group(new_group_name);new_group_name=''">Add</button>
	</div>

	<div ng-show="show_confidence_section">
	<h1>Search Confidence</h1>
		<div class="texty"><p>Confidence</p></div>
		<button class="btn {{search_order=='forward'&&search_index==0?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='forward';search_index=0">High</button>
		<button class="btn {{search_order=='forward'&&search_index==0.1?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='forward';search_index=0.1">90%</button>
		<button class="btn {{search_order=='forward'&&search_index==0.25?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='forward';search_index=0.25">75%</button>
		<button class="btn {{search_order=='forward'&&search_index==0.35?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='forward';search_index=0.35">65%</button>
		<button class="btn {{search_order=='forward'&&search_index==0.5?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='forward';search_index=0.5">Med</button>
		<button class="btn {{search_order=='reverse'&&search_index==0.35?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='reverse';search_index=0.35">35%</button>
		<button class="btn {{search_order=='reverse'&&search_index==0.25?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='reverse';search_index=0.25">25%</button>
		<button class="btn {{search_order=='reverse'&&search_index==0.1?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='reverse';search_index=0.1">10%</button>
		<button class="btn {{search_order=='reverse'&&search_index==0?'btn-primary':''}} btn-sm label_button" 
			ng-click="search_order='reverse';search_index=0">Low</button>
		<div class="texty"><p>Mode</p></div>
		<button class="btn {{isLabeled==0?'btn-primary':''}} btn-sm label_button" ng-click="isLabeled=0">Search</button>
		<button class="btn {{isLabeled==1?'btn-primary':''}} btn-sm label_button" ng-click="isLabeled=1">Review</button>
	</div>

	<div ng-show="show_snapshot_section">
	<h1>Snapshot Management</h1>
		<div><div class="texty"><p>Create snapshot</p></div>
			<input type="text" ng-model="snap_shot_name"><button ng-show="snap_shot_name" class="btn btn-primary btn-sm label_button" ng-click="create_snap_shot(snap_shot_name);snap_shot_name=''">Add</button>
		</div>
	        <div ng-hide="snapshot_delete_mode">
	        	<div class="texty" ng-click="snapshot_delete_mode=!snapshot_delete_mode"><p>Use</p></div>
	        	<button ng-repeat="item in list_snap_shots()" class="btn btn-primary btn-sm" ng-click="load_snap_shot(item)">{{item}}</button>
		</div>
	        <div ng-show="snapshot_delete_mode">
	        	<div class="texty" ng-click="snapshot_delete_mode=!snapshot_delete_mode"><p>Remove</p></div>
	        	<button ng-repeat="item in list_snap_shots()" class="btn btn-danger btn-sm" ng-click="remove_snap_shot(item)">{{item}}</button>
		</div>
	</div>

	<div ng-show="show_embedding_section" class="find_related_images">
	<h1>Image Embeddings</h1>
		<div class="imageline">
			<div class="texty"><p>Original</p></div>
			<span ng-repeat="index in data.images">
				<img class="mnist" src="/layer-1/{{index}}/{{0}}" ng-click="similar(index)"></img>
			</span>
			<button class="btn btn-primary btn-sm" ng-click="randomizeImage()">Random</button>
			<button ng-show="layer_display.length == 0" type="button" class="btn btn-primary btn-sm" ng-click="layer_display=[0,1,2,3,4,5]">Show Details</button>
			<button ng-hide="layer_display.length == 0" type="button" class="btn btn-primary btn-sm" ng-click="layer_display=[]">Hide Details</button>
		</div>
		<div ng-repeat="layer in layer_display" class="imageline">
			<div class="texty">
				<p ng-show="layer == 0">Noise images</p>
				<p ng-show="layer > 0">Layer {{layer}} : {{data.training_sessions[layer]}} epochs</p>
			</div>
			<span ng-repeat="index in data.images">
				<img class="mnist" src="/layer{{layer}}/{{index}}/{{data.training_sessions[layer]}}" ng-click="similar(index)"></img>
			</span>
			<button ng-hide="layer==5" type="button" class="btn btn-primary btn-sm" ng-click="learn(layer)">Train Layer {{layer+1}}</button>
			<button ng-show="layer==5" type="button" class="btn btn-primary btn-sm" ng-click="learn(layer)">Train All ({{data.training_sessions[5]}} epochs)</button>
		</div>
		<div ng-show="layer_display.length > 0">
			<div class="texty"><p>Actions</p></div>
			<button class="btn btn-primary btn-sm" ng-click="reset_session()">Reset Net</button>
			<button class="btn btn-primary btn-sm" ng-click="restore_session()">Restore Net</button>
			<button class="btn btn-primary btn-sm" ng-click="save_session()">Save Net</button>
		</div>
	</div>


	<div ng-show="show_label_section" class="label_area">
	<h1>Labels</h1>
		<div ng-show="label_list == {}">
			<p>No labels yet</p>
		</div>
		<span ng-hide="label_list == {}">
			<div class="texty"><p>Labels</p></div>
			<span ng-repeat="(label,label_data) in label_list">
				<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="label_predict(label)">{{label}}</button>
				<p class="multiplier">x{{label_score(label)}}</p>
			</span>
	  	</span>
	</div>


	<div class="group_area">
		<div ng-repeat="(name,group_data) in groups">
			<h2>{{name}} (Group)</h2>
			<div class="texty"><p>{{group_count_total(name)}} items</p></div>
			<div ng-hide="group_data.locked">
				<div class="texty"><p>In group</p></div>
				<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="remove_from_group(name,label)"  ng-repeat="(label,value) in group_data.labels_in">{{label}}</button>
				<div class="texty"><p>Not in group</p></div>
				<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="add_to_group(name,label)" ng-repeat="label in labelsNotInGroup(name)">{{label}}</button>
				<div class="texty"><p>Unlocked</p></div><button class="btn btn-primary btn-sm label_button" ng-click="group_data.locked=true">Lock</button><button class="btn btn-danger btn-sm label_button" ng-click="delete_group(name)">Delete</button>
			</div>
			<div ng-show="group_data.locked">
				<div class="texty"><p>Search by</p></div>
				
				<span ng-repeat="(label,value) in group_data.labels_in">
					<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="group_predict(name,label)"  >{{label}}</button>
					<p class="multiplier">x{{label_score(label)}}</p>
				</span>

				<button class="btn btn-primary btn-sm label_button" ng-click="group_predict(name,-1)">?</button>

				<div class="texty"><p>Locked</p></div>
				<button class="btn btn-primary btn-sm label_button" ng-click="group_data.locked=false">Unlock</button>
			</div>
		</div>
	</div>


	<div ng-hide="show_tsne_section" >
	<h1>Search Results</h1>
		<div class="imageline" ng-show="similar_images.length == 0">
			<div class="texty"><p>No Images</p></div>
	  	</div>	
		<div class="imageline" ng-show="similar_images.length > 0">
			<div class="texty"><p>Images Found</p></div>
			<span ng-repeat="data in similar_images">
				<img class="mnist" ng-class="data.state?'selected':'not_selected'" src="/layer-1/{{data.id}}/{{0}}" ng-click="data.state=1-data.state"></img>
			</span>
			<button class="btn btn-primary btn-sm label_button" ng-click="reverseSimilarImages()">Flip</button>
		</div>

		<div class="label_area">
		  	<div class="texty"><p>Add to label</p></div>
			<span ng-repeat="(label,label_data) in label_list">
				<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="add_to_label(label)">{{label}}</button>
			</span>
			<p class="inline">or new label </p><input type="text" ng-model="new_label"><button ng-show="new_label" class="btn btn-primary btn-sm label_button" ng-click="add_to_label(new_label);">Add</button>
		</div>


	</div>	

	<div ng-show="show_tsne_section" class="label_area">
	<h1>t-distributed Stochastic Neighbor Embedding</h1>
		<div class="svg_border"></div>
		<div class="label_area">
		  	<div class="texty"><p>Add to label</p></div>
			<span ng-repeat="(label,label_data) in label_list">
				<button class="btn {{button_confidence(label)}} btn-sm label_button" ng-click="add_to_label(label)">{{label}}</button>
			</span>
			<p class="inline">or new label </p><input type="text" ng-model="new_label"><button ng-show="new_label" class="btn btn-primary btn-sm label_button" ng-click="add_to_label(new_label);">Add</button>
		</div>
	</div>


</body>
</html>
