<html ng-app="imageWorkflow">
<head>
	<title>Data Workflow</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="/view/index.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/view/index.css"/>
</head>
<body ng-controller="mainController">
	<h1>Session Controls</h1>
	<div class="session_controls">
		<button class="btn btn-primary btn-sm" ng-click="reset_session()">Reset Net</button>
		<button class="btn btn-primary btn-sm" ng-click="restore_session()">Restore Net</button>
		<button class="btn btn-primary btn-sm" ng-click="save_session()">Save Net</button>
	</div>

	<h1>Image Browser</h1>
	<div class="find_related_images">
		<div class="imageline">
			<div class="texty"><p>Original</p></div>
			<span ng-repeat="index in data.images">
				<img class="mnist" src="/layer-1/{{index}}/{{0}}" ng-click="similar(index)"></img>
			</span>
			<button class="btn btn-primary btn-sm" ng-click="randomizeImage()">Random</button>
			<button ng-show="layer_display.length == 0" type="button" class="btn btn-primary btn-sm" ng-click="layer_display=[0,1,2,3,4,5]">Show Details</button>
			<button ng-hide="layer_display.length == 0" type="button" class="btn btn-primary btn-sm" ng-click="layer_display=[]">Hide Details</button>
		</div>
		<div ng-repeat="layer in layer_display" class="imageline">
			<div class="texty">
				<p ng-show="layer == 0">Noise images</p>
				<p ng-show="layer > 0">Layer {{layer}} : {{data.training_sessions[layer]}} epochs</p>
			</div>
			<span ng-repeat="index in data.images">
				<img class="mnist" src="/layer{{layer}}/{{index}}/{{data.training_sessions[layer]}}" ng-click="similar(index)"></img>
			</span>
			<button ng-hide="layer==5" type="button" class="btn btn-primary btn-sm" ng-click="learn(layer)">Train Layer {{layer+1}}</button>
			<button ng-show="layer==5" type="button" class="btn btn-primary btn-sm" ng-click="learn(layer)">Train All ({{data.training_sessions[5]}} epochs)</button>
		</div>
	</div>

	<h1>Search Results</h1>
	<div>
		<div class="imageline" ng-show="similar_images.length == 0">
			<p>Select an image or label from above</p>
	  	</div>	
		<div class="imageline" ng-show="similar_images.length > 0">
			<div class="texty"><p>Images Found</p></div>
			<span ng-repeat="data in similar_images">
				<img class="mnist" ng-class="data.state?'selected':'not_selected'" src="/layer-1/{{data.id}}/{{0}}" ng-click="data.state=1-data.state;toggleError(data.id)"></img>
			</span>
		</div>
		<div class="label_area">
		  	<div class="texty"><p>Add to label</p></div>
			<span ng-repeat="(label,label_data) in label_list">
				<button class="btn {{ label_score(label) < 25 ? 'btn-danger' : label_score(label) < 100 ? 'btn-warning' : 'btn-success' }} btn-sm label_button" ng-click="add_to_label(label)">{{label}}</button>
			</span>
			<p class="inline">or new label </p><input type="text" ng-model="new_label"><button ng-show="new_label" class="btn btn-primary btn-sm label_button" ng-click="add_to_label(new_label);">Add</button>
		</div>
	</div>

	<div class="label_area">
	<h1>Labels</h1>
		<div ng-show="label_list == {}">
			<p>No labels yet</p>
		</div>
		<span ng-hide="label_list == {}">
			<div class="texty"><p>Labels</p></div>
			<span ng-repeat="(label,label_data) in label_list">
				<button class="btn {{ label_score(label) < 25 ? 'btn-danger' : label_score(label) < 100 ? 'btn-warning' : 'btn-success' }} btn-sm label_button" ng-click="label_predict(label)">{{label}}</button>
				<p class="multiplier">x{{label_score(label)}}</p>
			</span>
	  	</span>
	</div>



	<div class="group_area">
	<h1>Exclusive Groups</h1>
		<p class="inline">Create new group</p><input type="text" ng-model="new_group_name"><button ng-show="new_group_name" class="btn btn-primary btn-sm label_button" ng-click="create_new_group(new_group_name);">Add</button>
		<div ng-repeat="(name,group_data) in groups">
			<h2>{{name}}</h2>
			<div ng-hide="group_data.locked">
				<div class="texty"><p>In group</p></div>
				<button class="btn {{ label_score(label) < 25 ? 'btn-danger' : label_score(label) < 100 ? 'btn-warning' : 'btn-success' }} btn-sm label_button" ng-click="remove_from_group(name,label)"  ng-repeat="(label,value) in group_data.labels_in">{{label}}</button>
				<div class="texty"><p>Not in group</p></div>
				<button class="btn {{ label_score(label) < 25 ? 'btn-danger' : label_score(label) < 100 ? 'btn-warning' : 'btn-success' }} btn-sm label_button" ng-click="add_to_group(name,label)" ng-repeat="label in labelsNotInGroup(name)">{{label}}</button>
				<div class="texty"><p>Unlocked</p></div><button class="btn btn-primary btn-sm label_button" ng-click="group_data.locked=true">Lock</button>
			</div>
			<div ng-show="group_data.locked">
				<div class="texty"><p>Search by</p></div>
				<button class="btn {{ label_score(label) < 25 ? 'btn-danger' : label_score(label) < 100 ? 'btn-warning' : 'btn-success' }} btn-sm label_button" ng-click="group_predict(name,label)"  ng-repeat="(label,value) in group_data.labels_in">{{label}}</button>
				<div class="texty"><p>Locked</p></div><button class="btn btn-primary btn-sm label_button" ng-click="group_data.locked=false">Unlock</button>
			</div>
		</div>
	</div>
	
</body>
</html>
